[hidden],
.hidden {
  display: none;
  visibility: hidden;
}

html {
  --color-main: #fffc92;
  --color-altr: #ff9a96;
}

body {
  margin: 0;
  background-color: #1a191a;
}

main {
  width: 100%;
  height: 100vh;
}

main > .bg {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  position: absolute;
}

.main-frame {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: calc(4.4375vw + 11.5px);
  width: 100%;
  height: 100%;
}

.case {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: calc(15.48125vw + 134.36px);
  fill: var(--color-main);
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 769px) {
  .links {
    width: auto;
    top: 0;
    right: 0;
    bottom: unset;
    left: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.social-btn {
  margin-top: 7.8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-transition: .6s;
  transition: .6s;
  width: calc(1.1875vw + 22.2px);
  height: 100%;
}

@media screen and (min-width: 769px) {
  .social-btn {
    margin: 0 12px;
  }
  .social-btn:first-of-type {
    margin-left: 0;
  }
  .social-btn:last-of-type {
    margin-right: 0;
  }
}

.kanji {
  fill: var(--color-main);
  margin: 0;
  width: inherit;
  -webkit-transition: .3s;
  transition: .3s;
}

.kanji:hover {
  fill: #FF9A96;
}

.kanji > .borde,
.kanji > .texto {
  display: none;
}

@media screen and (min-width: 769px) {
  .kanji > .borde,
  .kanji > .texto {
    display: block;
  }
}

.contact,
.coming {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.contact {
  bottom: 0;
  right: 0;
}

.contact > svg {
  height: 100%;
  width: calc(1.6125vw + 25.24px);
  fill: var(--color-main);
  -webkit-transition: .6s;
  transition: .6s;
}

.contact:hover .sobre {
  -webkit-transition: .6s;
  transition: .6s;
  fill: #FF9A96;
}

.coming {
  top: 0;
  left: 0;
}

@media screen and (min-width: 769px) {
  .coming {
    bottom: 0;
    top: unset;
  }
}

.coming > img {
  height: 100%;
  width: calc(5.8625vw + 51.74px);
}
/*# sourceMappingURL=app.css.map */