@font-face {
  font-family: 'RudoFont';
  src:  url('../assets/font/Rudo-Bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: 'KanjiFont';
  src:  url('../assets/font/logotypejp_mp_m_1.ttf');
  font-weight: normal;
}
:root{
  --color-main: #fffc92;
}
body{
  margin: 0;
  background-color: #00938b;
}
main{
  color: var(--color-main);
  font-family: 'KanjiFont' , sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main>.bg{
  width: inherit;
  height: inherit;
  object-fit: cover;
  z-index: -1;
  position: absolute;
}

.logo{
  width: 80%;
  max-width: 400px;
}
.links {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
  width: 80%;
  align-items: flex-start;
  height: 74px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.links:hover>.social-btn:not(:hover){
  opacity: .5;
}
@media screen and (min-width: 760px){
  .links{
    margin: 20px;
    width: auto;
    top: 0;
    bottom: 0;
  }
}

.social-btn{
  border: 1px solid #fffc92;
  margin: 20px 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.snl {
  width: 32px;
  height: 32px;
}
.social-btn>h2{
  display: none;
  color: var(--color-main);
  margin: 0;
  transition: .3s;
  /* height: 0; */
}
@media screen and (min-width: 760px){ /* TABLET */
  .social-btn{
    text-decoration: none;
  }
  .social-btn>img.kanji{
    display: block;
    max-width: 32px;
    padding: 8px;
    width: 16px;
  }
}
.check,
.coming{
  display: block;
  position: absolute;
}
@media screen and (min-width: 760px){ /* TABLET */
  .contact{
    position: absolute;
    bottom: 5%;
    right: 5%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 150%;
  }
}
.coming{
  display: flex;
}
@media screen and (min-width: 760px){ /* TABLET */
  .coming{
    position: absolute;
    bottom: 5%;
    left: 5%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 150%;
  }
}
